@tailwind base;
@tailwind components;
@tailwind utilities;

html  {
  font-size: calc(60% + 0.8vmin);
}

*{
  font-family: 'Kanit', sans-serif;
  font-family: 'Noto Sans Thai', sans-serif;
  /* font-family: 'Patrick Hand', cursive; */
  }

.test{
  border: solid 1px red;
}

.popup :hover{
  animation-duration: 300 ease-in-out;
  scale: 105%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}